<style>
  .container {
    display: grid;
    place-items: center;
    text-align: center;
  }
</style>

<div class="container">
  <h1>Hello App Component</h1>
  <app-test></app-test>
</div>

<hr/>

<div class="container">
  <h1>Binding Component</h1>
  <h2>Hello Style Binding</h2>
  <app-binding></app-binding>
</div>

<hr/>
<div class="container">
  <h1>Two Way Binding</h1>
  <app-two-way-binding></app-two-way-binding>
</div>
<hr/>

<div class="container">
  <app-trainingsession2></app-trainingsession2>
</div>