<p>pipes works!</p>
<!--Pipes allows us to transform data before displaying them to view and only used to manipulate data on view-->
<div>
    <h4>{{name}}</h4>
    <h2>Built-in Pipes used for string</h2>
    <p>{{name | lowercase}}</p>
    <p>{{name | uppercase}}</p>
    <h4>{{message | titlecase}}</h4>
    <h4>{{message | slice:3}}</h4>
    <h4>{{message | slice:3:8}}</h4>
    <h3>{{person}}</h3>
    <h3>{{person | json}}</h3>
</div>
<hr/>

<div>
    <h1>Built-in Pipes used for Number</h1>
    <h4>{{5.678 | number:'1.2-3'}}</h4>
    <h4>{{5.678 | number:'3.4-5'}}</h4>
    <h4>{{5.678 | number:'3.1-2'}}</h4>
    <h4>{{0.25 | percent}}</h4>
    <h4>{{2.25 | percent}}</h4>
    <h4>{{0.25 | currency}}</h4>
    <h4>{{25 | currency: 'GBP'}}</h4>
    <!--ISO Currency Code-->
    <h4>{{25 | currency: 'INR'}}</h4>
    <h4>{{25 | currency: 'INR' : 'code'}}</h4>
</div>
<hr/>

<div>
    <h1>Built-in Pipes used for Date</h1>
    <h3>{{date}}</h3>
    <h3>{{date | date:'short'}}</h3>
    <h3>{{date | date:'shortDate'}}</h3>
    <h3>{{date | date:'shortTime'}}</h3>
    <h3>{{date | date:'medium'}}</h3>
    <h3>{{date | date:'large'}}</h3>
</div>