<p>test works!</p>
<h1>Interpolation</h1>
<h1>Welcome to {{name}}</h1> <!--Interpolation-->
<h2>{{2+2*5}}</h2> <!--Evaluating Expression-->
<h2>{{"Welcome to " + name}}</h2> <!--String Concat-->
<!-- JavaScript Function and Methods -->
<h3>Name Length: {{name.length}}</h3>
<h3>Name in UpperCase : {{name.toUpperCase()}}</h3>
<h4>{{greetUser()}}</h4>
<!-- <h4>{{a = 2 + 2}}</h4>  //Assignment not possible in interpolation-->
<!--<h4>{{window.location.href}} // Can't use global js variable</h4>-->

<h3>{{url}}</h3>

<h1>Property Binding</h1>
<input [id]="myId" type="text" value="Shani">
<!--We can also use Interpolation for property binding-->
<input id="{{myId}}" type="text" value="Gemini"> <!--Only used as a string interpolation : Limitation-->

<h3>Why Property Binding???</h3>
<input disabled="false" [id]="myId" type="text" value="GLA University"><br/>
<input disabled="{{false}}" [id]="myId" type="text" value="GLA University">
<input [disabled]="isDisabled" [id]="myId" type="text" value="GLA University">
<input bind-disabled="false" [id]="myId" type="text" value="GLA University">


<h1>Class Binding</h1>
<h2 class="text-success">Hello!! My Name is Shani</h2>
<h3 [class]="successClass">Welcome to University</h3>
<h4 [class]="dangerClass">Backend</h4>
<h3 [class.text-danger]="hasError">Dev Community</h3>

<!--If want to apply multiple classes Angular provides ngClass directives(Custom HTML attribute which angular provides)-->
<h2 [ngClass]="messageClasses">Angular</h2> <!--Bind an Object-->