<div class="container">
  <h1>Wecome to {{title}}!!</h1>
  <p>Services: Services are used in angular to share data among different components 
    where the components are not having any parent-child relationship or they are siblings.

    We can make a certain service be held responsible for a particular task like getting 
    the EmployeeList from backend.
  </p>

  <p>Depandency Injection:
    1. COde without DI and their Drawback.
    2. DI as a Design pattern.
    3. DI as a framework in Angular.
  </p>
  <app-employee-list></app-employee-list>
</div>

<div class="container">
  <h1>Employee Details</h1>
  <app-employee-detail></app-employee-detail>
</div>

<hr>
<div class="container">
  <app-students-list></app-students-list>
</div>

<div class="container">
  <app-student-details></app-student-details>
</div>